---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';

---


<StarlightPage frontmatter={{ title: 'Schedule and Materials' }}>
    <h3>Assignments and homework</h3>
    <table>
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Assigned</th>
          <th>Due</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Homework 1</td>
          <td>1/23/2026</td>
          <td>2/15/2026</td>
        </tr>
        <tr>
          <td>Homework 2</td>
          <td>2/16/2026</td>
          <td>3/1/2026</td>
        </tr>
        <tr>
          <td>Homework 3</td>
          <td>3/6/2026</td>
          <td>3/20/2026</td>
        </tr>
        <tr>
          <td>Homework 4</td>
          <td>3/30/2026</td>
          <td>4/12/2026</td>
        </tr>
        <tr>
          <td>Project Part I</td>
          <td>2/23/2026</td>
          <td>4/5/2026</td>
        </tr>
        <tr>
          <td>Project Part II</td>
          <td>4/5/2026</td>
          <td>4/26/2026</td>
        </tr>
        <tr>
          <td>Term Paper</td>
          <td>3/15/2026</td>
          <td>4/19/2026</td>
        </tr>
        <tr>
          <td>Finals</td>
          <td>-</td>
          <td>As per Oscar</td>
        </tr>
      </tbody>
    </table>
    <h3 class='text-light'>Course Schedule</h3>
    <table id="schedule">
      <thead>
        <tr>
          <th>Week #</th>
          <th>Dates</th>
          <th>Topics</th>
          <th>References</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>January 12th to 18th</td>
          <td>Compiler Concepts and Overview</td>
          <td>Slides</td>
        </tr>
        <tr>
          <td>2</td>
          <td>January 19th to 25th</td>
          <td>Intermediate Forms and AST to Quad Translation</td>
          <td>Slides</td>
        </tr>
        <tr>
          <td>3</td>
          <td>January 26th to February 1st</td>
          <td>Control Flow Analysis, Basic Blocks, CFGs</td>
          <td>Dragon Book</td>
        </tr>
        <tr>
          <td>4</td>
          <td>February 2nd to 8th</td>
          <td>Dominators, Loop Detection, Dataflow Analysis</td>
          <td>Dragon Book</td>
        </tr>
        <tr>
          <td>5</td>
          <td>February 9th to 15th</td>
          <td>Dataflow Analysis, Safety vs Precision</td>
          <td>Dragon Book</td>
        </tr>
        <tr>
          <td>6</td>
          <td>February 16th to 22nd</td>
          <td>Dataflow Analysis Loop Invariant Code Motion</td>
          <td>Dragon Book</td>
        </tr>
        <tr>
          <td>7</td>
          <td>February 23rd to March 1st</td>
          <td>Introduction to Partial Redundancy</td>
          <td>Dragon Book, Muchnik handout</td>
        </tr>
        <tr>
          <td>8</td>
          <td>March 2nd to 8th</td>
          <td>Partial Redundancy Elimination</td>
          <td>Dragon Book, Muchnik handout</td>
        </tr>
        <tr>
          <td>9</td>
          <td>March 9th to 15th</td>
          <td>SSA and SSA Generation</td>
          <td>Dragon Book, Muchnik handout</td>
        </tr>
        <tr>
          <td>10</td>
          <td>March 16th to 22nd</td>
          <td>Dead Code Elimination, Global Value Numbering</td>
          <td>Muchnik Handout</td>
        </tr>
        <tr>
          <td>11</td>
          <td>March 30th to April 5th</td>
          <td>Automatic Parallelization, Dependence Analysis</td>
          <td>Allen-Kennedy Handout</td>
        </tr>
        <tr>
          <td>12</td>
          <td>April 6th to 12th</td>
          <td>Dependence Analysis, Loop Transformations</td>
          <td>Allen-Kennedy Handout</td>
        </tr>
        <tr>
          <td>13</td>
          <td>April 13th to 19th</td>
          <td>Register Allocation and Associated Transforms</td>
          <td>Dragon Book</td>
        </tr>
        <tr>
          <td>14</td>
          <td>April 20th to 26th</td>
          <td>Machine Specific Optimizations</td>
          <td>Research Paper</td>
        </tr>
        <tr>
          <td>15</td>
          <td>April 27th to 28th</td>
          <td>Review, Finals Preparation and Optional Reading</td>
          <td>Research Paper</td>
        </tr>
      </tbody>
    </table>
  </main>
</StarlightPage>

<script>
  const startDate = new Date('2026-01-12');
  const today = new Date();
  const diffInDays = Math.floor((today.getTime() - startDate.getTime()) / (1000 * 60 * 60 * 24));
  const thisWeekNum = Math.floor(diffInDays / 7) + 1;
  // console.log(`Today is week number: ${thisWeekNum}`);
  const allRows = document.querySelectorAll('table#schedule tr')
  allRows[thisWeekNum].classList.add('highlighted');
</script>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tbody tr {
    transition: background-color 0.2s ease;
  }
  tbody tr.highlighted {
    background-color:  var(--sl-color-gray-6, #e0e7ff);
    font-weight: 500;
  }

  /* tbody tr:nth-child(odd) {
    background-color: var(--sl-color-gray-5, #f5f5f5);
  }

  tbody tr:nth-child(even) {
    background-color: var(--sl-color-gray-6, #ffffff);
  } */

  tbody tr:hover {
    background-color: var(--sl-color-accent-low, #e0e7ff);
  }
</style>
